
@{
	ViewData["Title"] = "WoWHome";
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
	<title>Index</title>
</head>
<body>
<div class="text-center"></div>
<h2>WoWHome</h2>
<a class = "btn btn-info" asp-action="Pricing"> Click me to view pricing!</a>
</body>
</html>

